@media (max-width: 991px){
    .banner__container{
        padding-top: 80px;
    }
}

@media (max-width: 775px){
    
    header .logo{
        font-size: 20px;
    }
    
    header .dark-toggle::after,
    header .toggle::after{
        width: 25px;
        margin-top: 15px;
    }
    
    header .dark-toggle::before,
    header .toggle::before{
        width: 40px;
        margin-bottom: 15px;
    }
    
    .banner .text-box h2{
        font-size: 30px;
        margin-bottom: 15px;
    }
    
    .banner .text-box .title{
        font-size: 20px;
        margin-bottom: 15px;
    }
    
    .banner .text-box .subtitle{
        font-size: 15px;
        margin:5px 0;
    }
    
    .banner .text-box .subtitle::before{
        width: 5px;
        height: 5px;
        top: 6px;
    }
    
    .banner .text-box .more{
        font-size: 15px;
        padding: 10px 20px;
    }
    
    .banner__container{
        display: block;
        padding: 150px 20px 50px;
    }
    
    .banner::before{
        display: none;
    }
    
    .banner .slider-box{
        margin-left: 0;
        margin: 50px auto 0;
    }
    
    /* ABOUT PAGE */
    
    .about__container .about__autor{
        flex-direction: column;
        padding-top: 70px;
    }
    
    .about__container .about__autor .about__text{
        width: 100%;
    }
    
    .main-title
    {
        font-size: 20px;
    }
    
    .about__autor{
        width: 100%;
    }
    
    .about__img{
        width: 100%;
        margin-top: 30px;
    }
    
    .about__img img{
        width: 100%;
    }
    
    .contact__container{
        padding-top: 60px;
    }
    
    .contact .contact__container .social {
        padding: 60px 0 0;
        flex-direction: column;
    }
    
    .contact .contact__container .social li{
        margin-bottom: 15px;
    }
    
    .contact .contact__container .social li i{
        font-size: 25px;
    }
    
    .contact .contact__container .social li p{
        font-size: 15px;
        padding-bottom: 5px;
        border-bottom: 1px solid #333;
    }
    
    .works__container{
        padding-top: 60px;
    }
    
    .works__container .works__items{
        padding-top: 60px;
    }
    
}
    
@media (max-width: 530px) {
    .about .about__autor h3{
        font-size: 19px;
    }
}